# Analyzing Fantasy Football Data

In [1]:
# import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Importing Data

In [18]:
df = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2020.csv')

In [22]:
df.head()

,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost
0,Derrick Henry,TEN,RB,26.0,16,16,31,19,0,0,0,2027,17,378,114,0,314.0,0,3,2
1,Alvin Kamara,NOR,RB,25.0,15,10,107,83,0,0,0,932,16,187,756,5,295.0,0,1,0
2,Dalvin Cook,MIN,RB,25.0,14,14,54,44,0,0,0,1557,16,312,361,1,294.0,0,5,3
3,Davante Adams,GNB,WR,28.0,14,14,149,115,0,0,0,0,0,0,1374,18,243.0,0,1,1
4,Travis Kelce,KAN,TE,31.0,15,15,145,105,4,0,2,0,0,0,1416,11,208.0,0,1,1

## lalalallala

In [ ]:
def urlFilereader(url_prefix, filename_iterable, file_ext):
    import pandas as pd

    for i in filename_iterable:
        
        pd.read_csv(url_prefix + file_name + file_ext)

In [9]:
def urliterator(url_prefix, filename_iterable, file_ext):
    import pandas as pd
    df = pd.DataFrame()

    for i in filename_iterable:
        print(url_prefix + str(i) + file_ext)

        df = pd.concat()

url_prefix = 'https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/'
filename_iterable = range(2015, 2020)
file_ext = '.csv'
urliterator(url_prefix, filename_iterable, file_ext)

https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2015.csv
https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2016.csv
https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2017.csv
https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2018.csv
https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2019.csv

In [14]:
df1 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2016.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2017.csv')